<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<head>
    <meta charset="UTF-8"/>
    <title>Bondy - Multipurpose Bootstrap Landing Page Template- Single Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <div th:include="btzero/common/com-css"></div>
</head>

<body>
<!-- Wrap all page content here -->
<div id="wrap">
    <div th:include="btzero/navbar"></div>
    <section class="well well-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>blog</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Library</a></li>
                        <li class="active">Data</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="article">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-sm-1 col-xs-2">
                                    <div class="row">
                                        <div class="type">
                                            <i class="fa fa-picture-o fa-2x"></i>
                                        </div>
                                        <div class="date">
                                            30<span>may</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-11 col-xs-10">
                                    <div class="preview">
                                        <img src="http://lorempixel.com/g/800/350/nightlife" alt=""
                                             class="img-responsive"/>
                                    </div>
                                    <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
                                    <div class="article-details">
                                        <div class="author">
                                            <a href="#"><i class="fa fa-user"></i> Jon Doe</a>
                                        </div>
                                        <div class="tags">
                                            <i class="fa fa-tags"></i>
                                            <a href="#">Responsive</a>
                                        </div>
                                    </div>
                                    <p class="article-data">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
                                        illo excepturi, sint odio, adipisci saepe maiores minima in. Quo enim velit
                                        corporis illum sint accusamus esse nostrum eaque ullam, eligendi! Lorem ipsum
                                        dolor sit amet, consectetur adipisicing elit. Sed cum quasi nihil earum quam,
                                        laudantium maxime repellat architecto, consectetur laboriosam facilis aut
                                        accusamus officiis sequi dolore blanditiis eius, odio, ab.</p>
                                    <div class="quote">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro nemo eos
                                        molestiae aperiam alias minima suscipit voluptate laboriosam dolorum quae fugit
                                        ab magnam in facilis aspernatur vitae possimus, a blanditiis!
                                    </div>
                                    <p class="article-data">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
                                        illo excepturi, sint odio, adipisci saepe maiores minima in. Quo enim velit
                                        corporis illum sint accusamus esse nostrum eaque ullam, eligendi! Lorem ipsum
                                        dolor sit amet, consectetur adipisicing elit. Sed cum quasi nihil earum quam,
                                        laudantium maxime repellat architecto, consectetur laboriosam facilis aut
                                        accusamus officiis sequi dolore blanditiis eius, odio, ab.</p>
                                    <p class="article-data">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id
                                        illo excepturi, sint odio, adipisci saepe maiores minima in. Quo enim velit
                                        corporis illum sint accusamus esse nostrum eaque ullam, eligendi! Lorem ipsum
                                        dolor sit amet, consectetur adipisicing elit. Sed cum quasi nihil earum quam,
                                        laudantium maxime repellat architecto, consectetur laboriosam facilis aut
                                        accusamus officiis sequi dolore blanditiis eius, odio, ab.</p>

                                    <div class="share-post">
                                        <span>Share This Post</span>
                                        <a href="#"><i class="fa fa-google-plus fa-fw"></i></a>
                                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                    </div>

                                    <span class="divider"></span>

                                    <div class="comments">
                                        <h4>Comments (4)</h4>
                                        <div class="media media-comments">
                                            <a class="pull-left" href="#">
                                                <img src="http://lorempixel.com/70/70/" alt=""/>
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading">Media heading <span><a
                                                        href="#">Reply</a></span></h5>
                                                <p class="date">May 30th, 2014</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt,
                                                    eligendi ipsa.</p>
                                            </div>
                                        </div>
                                        <div class="media media-comments reply">
                                            <a class="pull-left" href="#">
                                                <img src="http://lorempixel.com/70/70/" alt=""/>
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading">Media heading <span><a
                                                        href="#">Reply</a></span></h5>
                                                <p class="date">May 30th, 2014</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt,
                                                    eligendi ipsa.</p>
                                            </div>
                                        </div>
                                        <div class="media media-comments">
                                            <a class="pull-left" href="#">
                                                <img src="http://lorempixel.com/70/70/" alt=""/>
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading">Media heading <span><a
                                                        href="#">Reply</a></span></h5>
                                                <p class="date">May 30th, 2014</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt,
                                                    eligendi ipsa.</p>
                                            </div>
                                        </div>
                                        <div class="media media-comments">
                                            <a class="pull-left" href="#">
                                                <img src="http://lorempixel.com/70/70/" alt=""/>
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading">Media heading <span><a
                                                        href="#">Reply</a></span></h5>
                                                <p class="date">May 30th, 2014</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt,
                                                    eligendi ipsa.</p>
                                            </div>
                                        </div>
                                        <span class="divider"></span>
                                    </div>
                                    <div class="comment-form">
                                        <form>
                                            <div class="form-group has-feedback left">
                                                <input type="text" class="form-control" placeholder="NAME"/>
                                                <i class="fa fa-user form-control-feedback"></i>
                                            </div>
                                            <div class="form-group has-feedback left">
                                                <input type="email" class="form-control" placeholder="Email"/>
                                                <i class="fa fa-envelope-o form-control-feedback"></i>
                                            </div>
                                            <div class="form-group has-feedback left">
                                                <textarea class="form-control" rows="7"
                                                          placeholder="Comment"></textarea>
                                                <i class="fa fa-pencil-square-o form-control-feedback"></i>
                                            </div>
                                            <button class="btn btn-primary btn-lg pull-right" type="submit">SEND
                                                COMMENT
                                            </button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="side-block search">
                        <h4>Search Blogs</h4>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="Seacrch Here..."/>
                            <button type="submit"><i class="fa fa-search form-control-feedback"></i></button>
                        </div>
                        <span class="divider"></span>
                    </div>
                    <div class="side-block">
                        <h4>Blog Categories</h4>
                        <ul>
                            <li><a href="#">Photoshop</a></li>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Responsive Mobile</a></li>
                            <li><a href="#">Branding</a></li>
                            <li><a href="#">Logo Design</a></li>
                        </ul>
                        <span class="divider"></span>
                    </div>
                    <div class="side-block">
                        <h4>Latest Posts</h4>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://lorempixel.com/60/60/" alt="..."/>
                            </a>
                            <div class="media-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                <a href="#">by Admin</a>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://lorempixel.com/60/60/" alt="..."/>
                            </a>
                            <div class="media-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                <a href="#">by Admin</a>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://lorempixel.com/60/60/" alt="..."/>
                            </a>
                            <div class="media-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                <a href="#">by Admin</a>
                            </div>
                        </div>
                        <span class="divider"></span>
                    </div>
                    <div class="side-block">
                        <h4>Text Widget</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus fugit vitae non
                            assumenda quo ipsam, doloremque aspernatur commodi, eligendi consequatur sunt officia,
                            omnis.</p>
                        <span class="divider"></span>
                    </div>
                    <div class="side-block">
                        <h4>tags cloud</h4>
                        <a href="#" class="tag">design</a>
                        <a href="#" class="tag">development</a>
                        <a href="#" class="tag">photoshop</a>
                        <a href="#" class="tag">web design</a>
                        <a href="#" class="tag">logo</a>
                        <a href="#" class="tag">html5</a>
                        <span class="divider"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="get-in-touch">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-2 clearfix">
                    <div class="section-heading">
                        <h1>.get in touch</h1>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore reiciendis vel
                            reprehenderit expedita cupiditate repellat debitis!</h4>
                        <span class="divider"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-details">
                        <div class="detail">
                            <h4>Rune<span class="brandy">k</span> web agency.</h4>
                            <p>4 dsaaa St- Amman, Jordan</p>
                        </div>
                        <div class="detail">
                            <h4>call us</h4>
                            <p>+2 233 5438324</p>
                        </div>
                        <div class="detail">
                            <h4>email us</h4>
                            <p>JonDoe@scoopthemes.com</p>
                        </div>
                        <div class="detail">
                            <ul class="clearfix">
                                <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube fa-2x"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest fa-2x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group has-feedback left">
                            <input type="text" class="form-control" placeholder="NAME"/>
                            <i class="fa fa-user form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback left">
                            <input type="email" class="form-control" placeholder="Email"/>
                            <i class="fa fa-envelope-o form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback left">
                            <textarea class="form-control" rows="7" placeholder="MESSAGE"></textarea>
                            <i class="fa fa-pencil-square-o form-control-feedback"></i>
                        </div>
                        <button class="btn btn-primary btn-lg pull-right" type="submit">SUBMIT</button>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="map"></section>

    <div th:include="btzero/footer"></div>
</div>
<!--/wrap-->
<div th:include="btzero/common/com-js"></div>
</body>

</html>